body{
    margin: 0;
    padding: 0;
    font-family: Roboto, sans-serif;
    letter-spacing: .1px;
}

h1,h2,h3{
    font-family: 'Poppins', sans-serif;
}
.back_pink{
    background-color: rgb(238, 157, 171);
    height: 400px;
    width: 100%;
    text-align: center;
}
.back_pink h1{
    padding-top: 150px;
    font-family: 'Poppins', sans-serif;
    
}
.about{
    height: auto;
    max-height: 412px;
    width: 100%;
    position: relative;
    top: 100px;
}
.happy_img{
    width: 85%;
    max-width: 700px;
    min-height: 250px;
    margin: 10px auto;;
}
.happy_img img{
    width: 100%;
}
.back_gif{
    width: 100%;
    background-image: url("https://static.buffer.com/marketing/static/background/about-map.gif");
    margin-top: 350px;
    height: auto;
}
.para{
    max-width: 700px;
    margin: 0px auto;
    width: 75%;
    text-align: left;
}
.back_gif p{
    max-width: 700px;
    line-height: 1.8;
}

.blog_btn{
    color: white;
    font-size: 16px;
    padding: 3% 30%;
    border: none;
    background-color: rgb(44, 75, 255);
    border-radius: 3px;
    min-width: 10px;
    display: flex;
    margin: 30px auto;
}
.blog_btn:hover{
    background-color: rgb(33, 33, 245);
}
.teammates{
    text-align: center;
    width: 100%;
    min-width: 100px;
    margin: 0px auto;
    height: auto;
    background-color: rgb(245, 245, 245);
    background-image: url("https://static.buffer.com/marketing/static/background/white-doodle-section.png");
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 40px;
}
.teammates div{
    margin: 2%;
}
.teammates div h2{
    font-family: 'Poppins', sans-serif;
    font-size: 72px;
    margin: 0;
    padding: 0;
}
.teammates div p{
    font-size: 18px;
}
.green{
    color: rgb(135, 194, 33);
}
.yellow{
    color: rgb(250, 211, 42);
}
.red{
    color: rgb(233, 114, 132);
}
.companies{
    background-color: white;
    padding-top: 40px;
    padding-bottom: 30px;
}
.companies > h1{
    text-align: center;
    font-family: 'Poppins', sans-serif;
}

.values{
    text-align: center;
    max-width: 700px;
    margin: 0 auto;
    padding-top: 80px;
    padding-bottom: 30px;
    width: 80%;
}
.values h2{
    padding-top: 20px;
    padding-bottom: 20px;
}
.values p{
    margin-top: 40px;
    line-height: 1.8;
}
#drop_1{
    max-width: 700px;
    width: 80%;
    margin: 50px auto;
    cursor: pointer;
}
#drop_1 ul{
    display: none;
    margin-left: 30px;
    width: 95%;
}
#drop_1:hover ul{
    display: block;
}
#drop_1 ul > li{
    line-height: 1.2;
    margin-bottom: 25px;
    margin-top: 20px;
}
li::marker{
    color: grey;
}

.grey{
    color: grey;
}
.right{
    float: right;
    margin-right: 10px;
    color: darkgrey;
}
.bg_pic{
    width: 100%;    
    height: auto;
}
.bg_pic img{
    width: 100%;
}
.grid_1{
    grid-area: g1;
}
.grid_2{
    grid-area: g2;
}
.grid_3{
    grid-area: g3;
}
.grid_4{
    grid-area: g4;
}
.grid_1,.grid_2,.grid_3,.grid_4{
    margin: 3%;
}
.trans{
    text-align: center;
    background-color: rgb(245, 245, 245);
    display: grid;
    padding-bottom: 40px;
    grid-template-areas: "g1" "g2" "g3" "g4";
}
.trans h4{
    margin-top: 20px;
    margin-bottom: 20px;
}
.trans img{
    margin-top: 40px;
}
.hpy_img{
    width: 80%;
    text-align: center;
    height: auto;
    min-width: 100px;
    margin: 0 auto;
}
.hpy_img img{
    width: 100%;
}
.hpy_img button{
    border: 1px solid rgb(44, 75, 255);
    background-color: none;
    padding: 15px;
    color: rgb(44, 75, 255);
    background-color: white;
    font-size: 18px;
    width: 100%;
    border-radius: 5px;
    margin: 30px auto;
}
.hpy_img button:hover{
    background-color: rgb(208, 239, 250);
}

@media only screen and (min-width: 648px){
    .blog_btn{
        padding: 15px;
    }
    .values{
        text-align: left;
    }
    .trans{
        grid-template-areas: "g1 g2" "g3 g4";
    }
    .hpy_img button{
        max-width: 220px;
    }
}
@media only screen and (max-width:820px){
    .back_gif{
        margin-top: 40%;
    }
}
@media only screen and (min-width: 1020px){
    .teammates{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;
    }
    .trans{
        grid-template-areas: "g1 g2 g3 g4";
    }
    .happy_img{
        max-width: 700px;
    }
}