/* for buffer_love */
body{
    font-family: 'Roboto', sans-serif;
}
.buffer_love{
    width: 100%;
    height: 350px;
    background-image: url(https://static.buffer.com/marketing/static/hero/hero-customer-love@2x.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
}
.buffer_love h1{
    font-size: 2.2rem;
    padding-top: 6%;
    padding-bottom: 2%;
    letter-spacing: .05em;
}
.buffer_love > p{
    font-weight: 20;
    line-height: 1.8;
    width: 30%;
    margin: 0 auto;
    color: rgb(54, 54, 54);
}

/* for twitter cards */
.twitter_cards{
    text-align: center;
    margin-top: 8%;
}
.twitter_logo > .fa-twitter{
    color: skyblue;
}
.cards{
    display: block;
}
.card_1,.card_2,.card_3,.card_4,.card_5,.card_6,.card_7,.card_8,.card_9,.card_10,.card_10,.card_11,.card_12{
    width: 80%;
    min-width: 100px;
    height: fit-content;
    margin: 20px auto;
    border: 1px solid grey;
    border-radius: 3%;
    position: relative;
}
.cards div:hover{
    background-color: rgb(203, 227, 252);
}
.card_1 > div:nth-child(1){
    width: 95%;
    min-width: 50px;
    height: 20%;
    margin: 4px auto;;
}
.profile_pic{
    width: 60px;
    height: 60px;
    float: left;
    border-radius: 30px;
    margin-bottom: 15px;
}
.profile_pic img{
    width: 100%;
    border-radius: 30px;
}
.user_name{
 width: auto;
 float: left;
 margin-top: 12px;
}
.user_name h5{
    font-weight: lighter;
    color: rgb(100, 100, 100);
}
.twitter_logo{
    margin-top: 8px;
    margin-right: 12px;
    float: right;
    color: skyblue;
}
.content{
    clear: both;
    width: 95%;
    margin: 40px auto 10px auto;
    text-align: left;
    line-height: 1.5;
}
.content p{
    font-size: 18px;
    font-weight: lighter;
    color: rgb(100, 100, 100);
}
.content p:nth-child(2){
    font-size: 15px;
    margin: 5px 0 5px 0;
}
.info_circle {
    float: right;
}
.react{
    width: 95%;
    margin: 10px auto;
    text-align: left;
    color: rgb(100, 100, 100);
}
.fa-heart-o:hover{
    color: red;
}
.fa-user-o:hover{
    color: skyblue;
    border-bottom: 1px solid skyblue;
}
.fa-info-circle:hover{
    color: skyblue; 
}
.buffer_links{
    color: skyblue;
}
.buffer_links:hover{
    border-bottom: 1px solid skyblue;
}
.buffer_btn{
    background-color: rgb(44, 75, 255);
}
.buffer_btn:hover{
    background-color: blue;
}
.card_1{
    grid-area: cd_1;
}
.card_2{
    grid-area: cd_2;
}
.card_3{
    grid-area: cd_3;
}
.card_4{
    grid-area: cd_4;
}
.card_5{
    grid-area: cd_5;
}
.card_6{
    grid-area: cd_6;
}
.card_7{
    grid-area: cd_7;
}
.card_8{
    grid-area: cd_8;
}
.card_9{
    grid-area: cd_9;
}
.card_10{
    grid-area: cd_10;
}
.card_11{
    grid-area: cd_11;
}
.card_12{
    grid-area: cd_12;
}
.carou_btns{
    width: 60px;
    margin: 20px auto;
    height: 30px;
    display: flex;
}
.carou_1,.carou_2,.carou_3{
    color: grey;
    margin: 5px;
    cursor: pointer;
}
.box4{
    background-color: white!important;
    color: black !important;
}
.carou_1:hover,.carou_2:hover,.carou_3:hover,.carou_1:active,.carou_2:active,.carou_3:active{
    color:black
}
.started_now{
    width: 100%;
    min-height: 340px;
    height: auto;
    background-color: rgb(44, 75, 255);
    color:white;
    margin-top: 30px;
    margin-bottom: 30px;
    text-align: center;
    padding-bottom: 40px;
}
.started_now >div:nth-child(1){
    width: 90%;
    min-width: 100px;
    margin: 35px auto;
    padding-top: 40px;
}
.started_now button,.buffer_btn{
    width: 90%;
    min-width: 100px;
    margin:2px auto;
    border: none;
    padding:25px;
    border-radius: 10px;
    font-size: 20px;
    color: white;
}
.started_now button{
    background-color: rgb(241, 132, 113);
}
.started_now button:hover{
    background-color: rgb(247, 70, 39);
}
.credit{
    width: 30%;
    min-width: 100px;
    margin: 10px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.credit p{
    font-size: 12px;
    margin: 5px;
}
.fa-check{
    font-size: .5rem;
    color: grey;
    margin-left: 1px;
}
#three,#two{
    display: none;
}

@media only screen and (min-width:792px){
    .cards{
        width: 80%;
        min-width: 100px;
        margin: 20px auto;
        height: 100%;
        display: grid;
        grid-template-areas: "cd_1 cd_2" "cd_3 cd_4" "cd_5 cd_6" "cd_7 cd_8" "cd_9 cd_10" "cd_11 cd_12";
    }
}

@media only screen and (min-width:648px){
    .started_now button {
        width: 40%;
        max-width: 200px;
    }
    .started_now >div:nth-child(1){
        width: 60%;
    }
    .buffer_btn{
        max-width: 250px;
    }
}