body {
    font-family: 'Roboto', sans-serif;
}

.footer_starts {
    text-align: center;
}

li b {
    font-size: 18px;
}

a h1 {
    margin-left: 6%;
}

.footer_sub_1 {
    text-align: center;
    min-width: 100px;
    width: 30%;
    margin: 0 auto;
    padding-top: 1%;
}

.footer_sub_1_1 a {
    text-decoration: none;
    color: black;
}

.footer_sub_2_1 {
    display: inline-flex;
}

.footer_sub_2_1>div:nth-child(n)>a {
    color: black;
}

.footer_sub_2_1>div {
    margin: 11px;
}

.footer_sub_2_2 {
    display: block;
    font-size: 10px;
    margin-left: 10px;
}

.footer_sub_3 {
    display: block;
    text-align: center;
    margin-right: 8%;
}

.footer_sub_3>div {
    margin: 2%;
}

.ul_style_type {
    list-style-type: none;
    line-height: 1.8;
    width: 120%;
}

.ul_style_type_span_new {
    color: white;
    background-color: blue;
    font-size: 14px;
    font-weight: 600;
    padding: 3px 8px;
    border-radius: 4px;
    margin-left: 2%;
}

@media only screen and (min-width:768px) {
    .footer_sub_3 {
        display: flex;
        text-align: center;
    }
}

@media only screen and (min-width:1020px) {
    .footer_start {
        display: flex;
        flex-direction: row-reverse;
    }
    .footer_sub_1 {
        text-align: left;
    }
    .footer_sub_3 ul {
        text-align: left;
        width: 90%;
    }
    .footer_sub_1_1 {
        margin-left: 3%;
        margin-bottom: 220px;
    }
}