body{
    font-family: 'Roboto', sans-serif;
}

/* for features section */

#features{
    height: auto;
    width: 100%;
    background-color: rgb(245, 245, 245);
    padding-top: 30px;
    padding-bottom: 30px;
}
#features > div:nth-child(1){
    width: 100%;
    text-align: center;
    min-width: 80%;
    margin: 0 auto;
    text-align: center;;
}
.feature_list div{
    height: 200px;
    padding: 20px;
    margin: 10px;
}
#features p {
    font-size: 18px;
}
.f_one{
    grid-area: f-1;
}
.f_two{
    grid-area: f-2;
}
.f_three{
    grid-area: f-3;
}
.f_four{
    grid-area: f-4;
}
.f_five{
    grid-area: f-5;
}
.f_six{
    grid-area: f-6;
}
.f_seven{
    grid-area: f-7;
}
.f_eight{
    grid-area: f-8;
}
.feature_list{
    display: block;
    text-align: center;
    margin: 0 auto;
    min-width: 100px;
    width: 100%;
}

/* Features sections ends here */

/* For companies section */
.companies{
    height: auto;
    width: 100%;
    background-color: rgb(245, 245, 245);
    z-index: .5;
}
.company_list{
    margin: 0 auto;
    min-width: 100px;
    width: 80%;
    padding-top: 40px;
    padding-bottom: 40px;
}

.company_list div{
    height: 17px;
    width: 70%;
    margin: 8%;
    text-align: center;
}

.company_list div > img{
    max-width: 100%;    
    max-height: 100%;
    filter: grayscale(100%);
    opacity: 40%;
}

.cl_1{
    grid-area: c1;
}
.cl_2{
    grid-area: c2;
}
.cl_3{
    grid-area: c3;
}
.cl_4{
    grid-area: c4;
}
.cl_5{
    grid-area: c5;
}
.cl_6{
    grid-area: c6;
}
.cl_7{
    grid-area: c7;
}
.cl_8{
    grid-area: c8;
}
.cl_9{
    grid-area: c9;
}
.cl_10{
    grid-area: c10;
}
.cl_11{
    grid-area: c11;
}
.cl_12{
    grid-area: c12;
}
.cl_13{
    grid-area: c13;
}
.cl_14{
    grid-area: c14;
}
.cl_15{
    grid-area: c15;
}
.cl_16{
    /* max-width: 51%;
    display: flex;
    flex-direction: row-reverse; */
    grid-area: c16;
}
.company_list{
    display: grid;
    min-width: 250px;
    margin: 0 auto;
    grid-template-areas: "c1 c2 c3 "
    "c4 c5 c6"
    "c7 c8 c9"
    "c10 c11 c12"
    "c13 c14 c15"
    "c16 c16 c16";
}

/* company section ends here */

/* comp section starts here */
.comp_list img{
width: 100px;
height: 18px;
margin:4%;
filter: grayscale(100%);
opacity: 40%;
}

.cp_1{
grid-area: cp1;
}
.cp_2{
grid-area: cp2;
}
.cp_3{
grid-area: cp3;
}
.cp_4{
grid-area: cp4;
}
.cp_5{
grid-area: cp5;
}
.cp_6{
grid-area: cp6;
}
.cp_7{
grid-area: cp7;
}

.comp{
    width: 100%;
    min-width: 100px;
    padding: 70px 0;
    background-color: rgb(245, 245, 245);
    margin-top: 20px;
    text-align: center;
}
.comp h3{
    margin-bottom: 50px;
}

.comp_list{
    width: 80%;
    min-width: 100px;
    margin: 0 auto;
    text-align: center;
    display: grid;
    grid-template-areas: "cp1 cp2 cp3"
                          "cp4 cp5 cp6"
                          "cp7 cp7 cp7";
}

/* publish card section starts here */
.pub_cards{
    width: 60%;
    /* min-width:600px; */
    height: auto;
    margin: 0 auto;
    text-align: center;
}

.pub_cards h1{
    width: 80%;
    min-width: 100px;
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 30px;
}
.pub_cards > div{
    display: flex;
}

.card_1{
    width: 40%;
    height: auto;
    margin: 5%;
    position: relative;
    background-color: rgb(245, 245, 245);
    border-radius: 5px;
    min-height: 350px;
    text-align: center;
}   
.abs_img{
    position: absolute;
    left: 30px;
    top: -20px;
    width: 50px;
    height: 50px;
    border-radius: 3px;
    border: 1px solid white;
}
.card_1 div img{
    width: 100%;
}
.pub_content{
    width: 85%;
    margin: 50px auto 20px auto;
    line-height: 1.6;
}
.pub_content button{
    width: 100%;
    border: none;
    margin-top: 30px;
    background-color:  rgb(44, 75, 255);
    font-size: 18px;
    color: white;
    padding: 12px;
    border-radius: 3px;
    margin-top: 70px;
}
.pub_content button:hover{
    background-color: rgb(18, 49, 228);
}
.pub_content > p:nth-child(4){
    text-align: center;
    color: grey;
}
.pub_content a{
    color: grey;
}

/* customers section starts here */
.customers{
    width: 90%;
    text-align: center;
    min-width: 50px;
    height: auto;
    margin: 40px auto;
}
.cus_1,.cus_2,.cus_3,.cus_4{
    margin: 3%;
}
.cus_cards_1 h1{
    color: rgb(44, 75, 255);
}



/* get started section */
.started_now{
    width: 100%;
    min-height: 320px;
    height: auto;
    background-color: rgb(44, 75, 255);
    color:white;
    margin-bottom: 30px;
    text-align: center;
}
.started_now >div:nth-child(1){
    width: 90%;
    min-width: 100px;
    margin: 0px auto 35px auto;
    padding-top: 40px;
}
.started_now button,.buffer_btn{
    width: 90%;
    min-width: 100px;
    margin:2px auto;
    border: none;
    padding:25px;
    border-radius: 10px;
    font-size: 20px;
    color: white;
}
.started_now button{
    background-color: tomato;
}
.started_now button:hover{
    background-color: rgb(247, 70, 39);
}
.credit{
    width: 30%;
    min-width: 100px;
    margin: 10px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.credit p{
    font-size: 12px;
    margin: 5px;
}
.fa-check{
    font-size: .5rem;
    color: grey;
    margin-left: 1px;
}

.started_now{
    width: 100%;
    min-height: 340px;
    height: auto;
    background-color: rgb(44, 75, 255);
    color:white;
    margin-top: 30px;
    margin-bottom: 30px;
    text-align: center;
}
.started_now >div:nth-child(1){
    width: 90%;
    min-width: 100px;
    margin: 35px auto;
    padding-top: 40px;
}
.started_now button,.buffer_btn{
    width: 90%;
    min-width: 100px;
    margin:2px auto;
    border: none;
    padding:25px;
    border-radius: 10px;
    font-size: 20px;
    color: white;
}
.started_now button{
    background-color: rgb(248, 129, 108);
}
.started_now button:hover{
    background-color: rgb(247, 70, 39);
}
.credit{
    width: 30%;
    min-width: 100px;
    margin: 10px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.credit p{
    font-size: 12px;
    margin: 5px;
}

/* different screen sizes for features section */

@media only screen and (min-width: 642px){
    .feature_list{
        display: grid;
        min-width: 600px;
        width: 80%;
        grid-template-areas: "f-1 f-2"
                              "f-3 f-4"
                              "f-5 f-6"
                              "f-7 f-8";
    }
    #features > div:nth-child(1){
        width: 50%;
    }

    /* customers section */
    .cus_cards_1{
        display: flex;
        align-items: center;
        justify-content: space-evenly;
    }
}
@media only screen and (min-width:1020px){
    .feature_list{
        display: grid;
        text-align: left;
        grid-template-areas: "f-1 f-2 f-3 f-4"
                              "f-5 f-6 f-7 f-8";
    }

}

/* Different screen sizes of Companies section */

@media only screen and (min-width:1020px){
    .company_list{
        grid-template-areas: "c1 c2 c3 c4"
    "c5 c6 c7 c8"
    "c9 c10 c11 c12"
    "c13 c14 c15 c16";
    }
}

/* Different screen sizes for comp section */
@media only screen and (min-width:768px){
    .comp_list{
        grid-template-areas: "cp1 cp2 cp3 cp4 cp5 cp6"
                              "cp7 cp7 cp7 cp7 cp7 cp7";
    }
}

@media only screen and (min-width:1020px){
    .comp_list{
        grid-template-areas: "cp1 cp2 cp3 cp4 cp5 cp6 cp7";
    }
}

/* Different screem sizes for publish card section */

@media only screen and (max-width:768px){
    .pub_cards{
        width: 100%;
        margin: 30px auto;
    }
    .pub_cards > div{
        display: block;
    }
    .card_1{
    width: auto;
    margin: 30px 0;
    }
    .pub_content{
        position: absolute;
        top: 30px;
        left: 7%;
    }
}
@media only screen and (min-width:1020px){
    .pub_content{
        text-align: left;
    }
}
@media only screen and (min-width:648px){
    .started_now button,.buffer_btn {
        width: 40%;
        max-width: 200px;
    }
    .started_now >div:nth-child(1){
        width: 60%;
    }
}