body {
    font-family: 'Roboto', sans-serif;
}

p {
    font-size: 18px;
}


.ninth_cell_outer {
    height: auto;
    width: 100%;
    margin-top: 50px;
    margin-bottom: 30px;
    text-align: center;
}



.ninth_cell_subhead_inner {
    width: 70%;
    height: auto;
    margin: 2px auto;
    line-height: .10;
    display: grid;
    grid-template-areas: "c_1 c_2"
                          "c_3 c_4";
}
.cus_1{
    grid-area: c_1;
}
.cus_2{
    grid-area: c_2;
}
.cus_3{
    grid-area: c_3;
}
.cus_4{
    grid-area: c_4;
}


.ninth_cell_subhead_inner>div>h2 {
    color: blue;
    font-size: 40px;
}

.clear {
    clear: both;
}

.ninth_cell_hr_line {
    height: 100px;
    width: 70%;
    margin: 2px auto;
    text-align: center;
}

.ninth_cell_hr_line>div>p {
    font-weight: 600;
}

.ninth_cell_hr_line>hr {
    background-color: rgb(223, 240, 240);
    width: 100%;
    margin: 5px auto;
    border-radius: 1px;
    opacity: 0.1;
}

.ninth_cell_logo_outer {
    min-width: 100px;
    width: 60%;
    margin: 2px auto;
    text-align: center;
    align-items: center;
}

.ninth_cell_logo_outer div {
    width: 25%;
    height: 40px;
    min-width: 130px;
    max-width: 150px;
    margin: 25px auto;
}

.ninth_cell_logo_outer>div>img {
    width: 100%;
    height: 100%;
    align-self: center;
}
.width{
    text-align: center;
    width: 70%;
    min-width: 50px;
    margin: 15px auto;
}

@media only screen and (min-width:1020px){
    .ninth_cell_logo_outer{
        display: flex;
    }
    .ninth_cell_subhead_inner{
        grid-template-areas: "c_1 c_2 c_3 c_4";
    }
}

