body {
    font-family: 'Roboto', sans-serif;
}

p {
    font-size: 18px;
}

.ninth_cell_outer_main {
    height: 650px;
    width: 100%;
}

.ninth_cell_outer {
    height: 550px;
    width: 100%;
    margin-top: 50px;
    margin-bottom: 30px;
}

.ninth_cell_heading_outer {
    height: 12 0px;
    width: 100%;
    margin: 10px auto;
}

.ninth_cell_heading_inner {
    height: 120px;
    width: 40%;
    margin: 2px auto;
    text-align: center;
    font-size: 21px;
}

.ninth_cell_subhead_outer {
    height: 165px;
    width: 100%;
    margin: 2px auto;
}

.ninth_cell_subhead_inner {
    height: 165px;
    width: 70%;
    margin: 2px auto;
    line-height: .10;
}

.ninth_cell_subhead_inner>div {
    float: left;
    margin: 5px 4%;
}

.ninth_cell_subhead_inner>div>h2 {
    color: blue;
    font-size: 40px;
}

.clear {
    clear: both;
}

.ninth_cell_hr_line {
    height: 100px;
    width: 70%;
    margin: 2px auto;
    text-align: center;
}

.ninth_cell_hr_line>div>p {
    font-weight: 600;
}

.ninth_cell_hr_line>hr {
    background-color: rgb(223, 240, 240);
    width: 100%;
    margin: 5px auto;
    border-radius: 1px;
    opacity: 0.1;
}

.ninth_cell_logo_outer {
    height: 80px;
    width: 70%;
    margin: 2px auto;
    text-align: center;
}

.ninth_cell_logo_outer>div {
    float: left;
    margin: 5px 6%;
    width: 20%;
    height: 60%;
}

.ninth_cell_logo_outer>div>img {
    width: 100%;
    height: 100%;
}