body {
    font-family: 'Roboto', sans-serif;
}

.pricing_first_cell_main {
    width: 100%;
    height: auto;
    border-bottom: silver 1px groove;
}

.pricing_first_cell_main>div:nth-child(1) {
    width: 100%;
    height: 70%;
    padding-top: 3%;
    padding-bottom: 3%;
    margin-top: 5%;
    text-align: center;
    font-size: 25px;
}

.pricing_first_cell_main>div:nth-child(2) {
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.pricing_first_cell_main>div:nth-child(2)>div {
    width: 15%;
    height: auto;
    border: 1px silver groove;
    text-align: center;
    border-radius: 4px;
    padding: 5px;
    margin-left: 5px;
    margin-right: 5px;
}

.pricing_first_cell_main>div:nth-child(2)>div>img {
    width: auto;
    height: auto;
}